footer {
    /* width: 80%; */
    height: 5%;
    margin: 0 auto;
    background-color: #571ae4;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: yellowgreen solid; */
}

.footer-text {
    /* border: yellowgreen solid; */
    margin-left: 20px;
    text-align: left;
}

.footer-text p, .footer-text h5 {
    margin: 5px 0;
}

.imgfooter {
    width: auto;
    height: 100%;
    max-width: 100%;
    max-height: 100px;
    align-self: center;
}
